SpliceComponent input-dim=13 left-context=4 right-context=4
FixedAffineComponent matrix=exp_FG/DNN_tri_8_2000_aligned_layer3_nodes256/lda.mat
AffineComponentPreconditioned input-dim=117 output-dim=256 alpha=4.0 max-change=10.0 learning-rate=0.015 param-stddev=0.0625 bias-stddev=0.5
TanhComponent dim=256
AffineComponentPreconditioned input-dim=256 output-dim=368 alpha=4.0 max-change=10.0 learning-rate=0.015 param-stddev=0 bias-stddev=0
SoftmaxComponent dim=368
